  *{
    -webkit-box-sizing: border-box;
    user-select: none;
  }

  *::-webkit-scrollbar{
    display: none;
  }

  @font-face {
    font-family: 'mainfont';
    src: url('../assets/font/mainfont.otf');
    font-weight: normal;
    font-style: normal;
  }

  body{
    font-family: mainfont;
  }


.btn{
  display: inline-block;
  text-align: center;
  padding: 2px 4px;
  background: none;
  color: #1997c6;
  border: 1px solid #1997c6;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  transition:all 0.3s ease-in-out;
}
.btn:hover{
  background: #1997c6;
  color: white;
  transition:all 0.3s ease-in-out;
}
/*.btn:active{
  background: #6b15a1;
  color: white;
}*/

/*.btn-info{
  border-color: #1bc981;
  color: #1bc981;
}*/

.m-t-10{
  margin-top: 10px;
}

.m-b-10{
  margin-bottom: 10px;
}

.m-b-4{
  margin-bottom: 4px;
}

/*
.m-l-10{
  margin-bottom: 10px;
}

.m-r-10{
  margin-bottom: 10px;
}*/

.text-c{
  text-align: center;
}

.text-l{
  text-align: left;
}

.text-r{
  text-align: right;
}

.f-r{
  float: right;
}

.radius-4{
  border-radius: 4px;
}

.radius-2{
  border-radius: 2px;
}

.back-color{
  background: #fff6cb;
}

.font-min{
  font-size: 12px;
}

.p-abs{
  position: absolute;
}

.p-rel{
  position: relative;
}

.d-ib{
  display: inline-block;
}

.d-b{
  display: block;
}

.color-red{
  color: #d44950;
}

.color-green{
  color: #1bc98e;
}

.color-yellow{
  color: #e4d836;
}

.color-purple{
  color: #9f86ff;
}

.color-darkblue{
  color: #1997c6;
}




